/* Style général */

body {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.1rem;
  color: #404040;
  background: #fdfdfd;
  line-height: 1.3;
  margin: 1rem 2rem;
}

.website {
  max-width: 1000px;
  margin: 0 auto;}

a {
  background-color:inherit;
  color:#4444A0;
  text-decoration:none;
}

a:hover {
  background-color:inherit;
  color:#FF6900;
  text-decoration:underline;
}

h1 {
  font-weight: bold;
  color: #000;
  padding: 0;
}

h2, h3 {
  font-weight:normal;
  color:#000;
  padding: 1.5rem 0 0 0;
}

ul {
  margin-left: 1.3rem;
}

/* Styles pour les animations */

.spetsi {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim-button {
  background-color:#ededed;
  /*-moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;*/
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.anim-button:hover {
  background-color:#dfdfdf;
}
.anim-button:active {
  position:relative;
  top:1px;
}

.spetsi {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Listes de présentation */

.div-anim {
  text-align: center;
  width:175px;
  height:150px;
  margin: 20px 45px;
}
